
.my-grid {
    display: grid;
    grid-template-columns: 300px 300px 300px 300px;
}

table tr:nth-child(even) td{
    background-color: rgb(208, 208, 208);
}

body {
    margin: 0px;
    padding: 0px;
}

main {
    padding: 16px;
}

footer{
    padding: 24px 0px 24px 16px;
    background-color: rgb(152, 205, 141);
}

img {
    height: 200px;
}

nav {
    padding: 16px;
    background-color: rgb(248, 110, 35);
    color: white;
}

h1 {
    color: green;
}

a {
    text-decoration: none
}
